@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');
body{
    background:linear-gradient(darkgrey);
    color:black;
     font-family: "Mozilla Text", sans-serif;
}
h1{
    color:black;
    text-align : center;
}
h2{
    color:black;
    text-decoration:underline;
   
}

img{
    border :3px dashed yellow;
    margin-left: 35px;
}
a{
    color:blue;
    text-decoration: none;
    
}
